/*******************
FONTS
*******************/



/*******************
SELECTION STYLING
*******************/

::selection {
    color: #fff;
    background: #f676b2; /* Safari */
}
::-moz-selection {
    color: #fff;
    background: #f676b2; /* Firefox */
}

/*******************
BODY STYLING
*******************/

* {
    margin: 0;
    padding: 0;
    border: 0;
}
html{
    height: 100%;
    background: url('../images/dots.png') center center fixed, url('../images/bg.jpg') center center no-repeat fixed #252326;
    background-size: auto, cover;
}
body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight:300;
    text-align: center;
    text-decoration: none;
    overflow:hidden;
}

.heading {
    width:100%;
    top:0;
    position:fixed;
    text-align:center;
    padding:10px 10px 0;
    margin:0 auto;
    font-family:"PacificoRegular", Georgia, Times, serif;
    font-weight:normal;
    font-size:40px;
    color:#FFFFFF;
    text-shadow:0 2px 2px #333;
}

table {
    overflow:hidden;
    border:1px solid #d3d3d3;
    background:#fefefe;
    width:70%;
    margin:5% auto 0;
    border-radius:5px;

}

/*******************
STAT ROOM FORM
*******************/

.stat-form {
    width: 300px;
    margin: 0 auto;
    position: relative;
    z-index:5;

    background: #f3f3f3;
    border: 1px solid #fff;
    border-radius: 5px;

    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

/*******************
HEADER
*******************/

.stat-form .header {
    padding: 60px 100px 60px 60px;
}

.stat-form .header h1 {
    font-family: 'Bree Serif', serif;
    font-weight: 300;
    font-size: 28px;
    line-height:34px;
    color: #414848;
    text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
    margin-bottom: 10px;
}

.stat-form .header span {
    font-size: 11px;
    line-height: 16px;
    color: #678889;
    text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
}

/*******************
CONTENT
*******************/

.stat-form .content {
    padding: 0 20px 30px 30px  ;
}

/* Input field */
.stat-form .content .input {
    width: 188px;
    padding: 15px 25px;

    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #9d9e9e;
    text-shadow: 1px 1px 0 rgba(256,256,256,1.0);

    background: #fff;
    border: 1px solid #fff;
    border-radius: 5px;

    box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}


.stat-form .content .input:hover {
    background: #dfe9ec;
    color: #414848;
}

.stat-form .content .input:focus {
    background: #dfe9ec;
    color: #414848;

    box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
}

#wrapper {
    height: 500px;
    width: 100%;
    overflow: auto ;
}

a {color:#666;}

#content {width:65%; max-width:690px; margin:6% auto 0;}


table {
    overflow:hidden;
    border:1px solid #d3d3d3;
    background:#fefefe;
    width:70%;
    margin:5% auto 0;
    border-radius:5px;

}

th, td {padding:18px 28px 18px; text-align:center; }

th {padding-top:22px; text-shadow: 1px 1px 1px #fff; background:#e8eaeb;}

td {border-top:1px solid #e0e0e0; border-right:1px solid #e0e0e0;}

tr.odd-row td {background:#f6f6f6;}

td.first, th.first {text-align:left}

td.last {border-right:none;}


