html{
    height: 100%;
    background: url('../images/dots.png') center center fixed, url('../images/bg.jpg') center center no-repeat fixed #252326;
    background-size: auto, cover;
}
body{
    position: fixed;
    width:100%;
    height: 100%;
    margin:0 auto;
}

#header{
    position: relative;
    width:100%;
    height:33%;
}

#center {
    position: relative;
    width:100%;
    height:33%;
}

#deck{
    position: absolute;
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
    left: 420px;
    top: 4px;
    width:110px;
    height:180px;
    border: 1px solid;
    border-color: black;
    background: url('../TakiImages/back/Back.jpg')  center  no-repeat;
    background-size: contain;
    background-color: #ffffff;
}
#open_cards{
    position: absolute;
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
    left: 850px;
    top: 4px;
    width:110px;
    height:180px;
    border: 1px solid;
    border-color: black;
    background-color: #ffffff;
    background-size: contain;
}

#footer {
    position: relative;
    width:100%;
    height:33%;
}
#my_hand {
    position: absolute;
    margin-left: 10%;
    width: 90%;
    height: 100%;
    overflow: auto;
}
#surrender
{
    font-family: cursive;
    font-style: normal;
    font-weight: bold;
    font-size:medium;
    position: absolute;
    background-color: #d3d3d3;
    bottom: 0;
    left: 0;
    width: 90px;
    height: 40px;
    text-align: center;
    text-decoration-color: black;
    opacity: 1;
}

#play
{
    font-family: cursive;
    border-radius: 10px;
    font-style: normal;
    font-weight: bold;
    position: absolute;
    width: 40px;
    height: 30px;
    top: 100px;
    left: 660px;
}

#my_name
{
    font-family: cursive;
    font-style: normal;
    font-weight: bold;
    font-size:large;
    position: absolute;
    width: 10%;
    height: 20%;
    text-align: center;
    text-decoration-color: whitesmoke;
    color: whitesmoke;
}

#op_name
{
    font-family: cursive;
    color: whitesmoke;
    font-style: normal;
    font-weight: bold;
    font-size:medium;
    position: absolute;
    top: 0;
    width: 10%;
    height: 20%;
    text-align: center;
}

#op_hand
{
    position: absolute;
    margin-left: 10%;
    width: 90%;
    height: 100%;
}
#colors
{
    visibility:hidden;
    position: absolute;
    border-radius: 10px;
    top: 5%;
    right: 5%;
    width: 15%;
    height: 40%;
    background: whitesmoke;
    opacity: 1;
}

#red
{
    position: absolute;
    top: 10%;
    right: 15%;
    width: 30%;
    height: 30%;
    background: red;
}

#yellow
{
    position: absolute;
    top: 10%;
    left: 15%;
    width: 30%;
    height: 30%;
    background: yellow;
}

#blue
{
    position: absolute;
    bottom: 10%;
    left: 15%;
    width: 30%;
    height: 30%;
    background: dodgerblue;
}

#green
{
    position: absolute;
    bottom: 10%;
    right: 15%;
    width: 30%;
    height: 30%;
    background: forestgreen;
}

.card
{
    position: relative;
    float: left;
    top: 2px;
    left: 10px;
    margin-right: 10px;
    width: 110px;
    height: 180px;
    border-radius: 10px;
    background-color: #fff;
    -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
}

.card:hover {
    cursor: pointer;
}

.card.floating{
    z-index:199999999;
}

#my_hand > .card {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#my_hand > .card:hover {
    -webkit-box-shadow: 1px 1px 7px rgba(0,0,0,0.9);
    box-shadow: 1px 1px 7px rgba(0,0,0,0.9);
    -webkit-transform: scale(1.05,1.05);
    -moz-transform: scale(1.05,1.05);
    -o-transform: scale(1.05,1.05);
    -ms-transform: scale(1.05,1.05);
    transform: scale(1.05,1.05);
}

