html{
    height: 100%;
    background: url('../images/dots.png') center center fixed, url('../images/bg.jpg') center center no-repeat fixed #252326;
    background-size: auto, cover;
}
body{
    position: fixed;
    width:100%;
    height: 100%;
    margin:0 auto;
}

#header{
    position: relative;
    width:100%;
    height:33%;
    background: green;
}

#center {
    position: relative;
    width:100%;
    height:33%;
    background: blueviolet;
}

#deck{
    position: absolute;
    left: 30%;
    top: 2%;
    min-width: 200px;
    max-width: 200px;
    width:200px;
    height:95%;
    background: yellow;
}
#open_cards{
    position: absolute;
    min-width: 200px;
    max-width: 200px;
    left: 55%;
    top: 2%;
    width:200px;
    height:95%;
    background: yellow;
}

#footer {
    position: relative;
    width:100%;
    height:33%;
    background: black;
}
#my_hand {
    position: absolute;
    margin-left: 10%;
    width: 90%;
    height: 100%;
    background: gray;
    opacity: 1;
}
#surrender
{
    position: absolute;
    background-color: red;
    bottom: 0;
    width: 10%;
    height: 20%;
    text-align: center;
    text-decoration-color: black;
    opacity: 1;
}

#my_name
{
    position: absolute;
    background-color: red;
    width: 10%;
    height: 20%;
    text-align: center;
    text-decoration-color: black;
    opacity: 1;
}

#op_name
{
    position: absolute;
    top: 0;
    background-color: red;
    width: 10%;
    height: 20%;
    text-align: center;
    text-decoration-color: black;
    opacity: 1;
}

#op_hand
{
    position: absolute;
    margin-left: 10%;
    width: 90%;
    height: 100%;
    background: gray;
    opacity: 1;
}
#colors
{
    position: absolute;
    top: 5%;
    right: 5%;
    width: 15%;
    height: 40%;
    background: whitesmoke;
    opacity: 1;
}

#red
{
    position: absolute;
    top: 10%;
    right: 15%;
    width: 30%;
    height: 30%;
    background: red;
}

#yellow
{
    position: absolute;
    top: 10%;
    left: 15%;
    width: 30%;
    height: 30%;
    background: yellow;
}

#blue
{
    position: absolute;
    bottom: 10%;
    left: 15%;
    width: 30%;
    height: 30%;
    background: dodgerblue;
}

#green
{
    position: absolute;
    bottom: 10%;
    right: 15%;
    width: 30%;
    height: 30%;
    background: forestgreen;
}